@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: $black;
  color: $white;
  height: 90px;

  .logo {
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);

    a {
      color: $white;
    }
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);


    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 20px;


      &.last-nav-item {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }

    }
  }
}

.btc-ticker, #btc-title {
  cursor: pointer;
}

.bitcoin-data {
  margin-left: 5%;
  margin-right: 5%;

  #btc-title {
    color: #FF9900;
    font-size: 30px;
  }

  .btc-ticker {
    color: #FF9900;
  }

  .coin-title {
    display: inline;

    &.current-date {
      font-size: 20px;
      margin-left: 4em;
      font-style: italic;
    }
  }

  .coin-stats {
    p {
      margin-top: -0.7em;
    }

    div {
      .price-red {
        color: red;
      }

      .price-green {
        color: green;
      }
    }

    .btc-info {
      margin-top: -1em;
      font-size: 11px;
      font-style: italic;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.1em 0 1em 0;
    padding: 0;
    width: 80%;
  }
}

#api-source {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: 0;
}


.toolbar-container {
  margin-left: 0.1%;
  display: block;
  width: 80%;

  ul {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
  }

  ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 100px;
    font-size: 15px;

    a {
      border: 1px solid transparent;
    }
  }
}


.svg-container {
  // position: relative;
  // height: 0; 
  // width: 100%;
  // padding: 0;
  // padding-bottom: 100%;

  // .svg-el {
  //   position: absolute;
  //   display: block;
  //   height: 95%; 
  //   width: 100%; 
  //   left: 0; 
  //   top: 0;
  // }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
}












